@model ERSEntity.SystemUserChangePasswordEntity
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap-contact100" style="margin-top: 30px;">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmChangePassword" }))
    {
        @Html.AntiForgeryToken()

        <form class="contact100-form">
            <span class="contact100-form-title" style="text-transform: uppercase">
                Reset Password
            </span>
            @Html.HiddenFor(model => model.ResetPasswordCode)
            <div class="wrap-input100 validate-input">
                <span class="label-input100">New Password</span><span style="color:red"> *</span>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "input100", @maxlength = "100",@placeholder = "Enter new password", @type = "password" } })
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Confirm Password</span><span style="color:red"> *</span>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "input100", @maxlength = "100",@placeholder = "Confirm new password", @type = "password" } })
                <span class="focus-input100"></span>
            </div>


            <div id="divErrorMessage"></div>
            <div style="text-align:center; margin-top:30px;">
                <button id="btnSave" class="btnAddPage" onclick="return false"><i class="glyphicon glyphicon-floppy-disk"></i> Change Password</button>
            </div>
        </form>
    }
</div>
<script src="~/Scripts/Page/ForgotPassword/ResetPassword.js"></script>
<style>
    @@media screen and (max-width: 760px) {
        .modal-body {
            font-family: 'Product Sans' !important;
        }
    }

    .modal-content {
        margin: 0 7%;
    }

    .modal-header {
        text-align: center;
        font-family: 'Product Sans';
        padding: 15px 0 !important;
        color: var(--primary-color);
    }

    .modal-body-logo {
        text-align: center;
        color: var(--primary-color);
        width: 200px;
        margin: 0 auto;
    }

    .modal-body {
        text-align: center;
        font-family: 'Product Sans' !important;
    }

    .modal-footer {
        text-align: center !important;
    }

    .btnRed, .btnGray {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .btnRed {
        background: var(--primary-color) !important;
    }
</style>
