@model ERSEntity.ClaimReturnEquipmentEntity
@{
    Layout = null;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmStudentRegistration" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4 class="panel-title">Item Scanner</h4>
        <div class="form-group form-fields">
            @Html.HiddenFor(model => model.RequestEquipmentItemID)
        </div>
        <div class="form-group form-fields">
            <div class="form-fields">
                <div class="form-fields" width="400px" id="reader"></div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Page/ClaimReturnEquipment/ItemQRCodeScanner.js"></script>
